{
  "passPerPreset": true,
  "presets": [
    {
      "plugins": ["transform-runtime"]
    },
    {
      "passPerPreset": false,
      "presets": [
        [
          "env", {
            "targets": {
              "node": true
            }
          }
        ],
        "react"
      ]
    }
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    [
      "css-modules-transform", {
        "extensions": [".css"],
        "generateScopedName": "[name]__[local]--[hash:base64:10]"
      }
    ],
    [
      "transform-assets-import-to-string", {
        "baseDir": "/assets",
        "baseUri": ""
      }
    ]
  ]
}
