{
  "presets": [
    [
      "env", {
        "targets": {
          "node": true
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    [
      "css-modules-transform", {
        "extensions": [".css"],
        "generateScopedName": "[hash:base64]"
      }
    ],
    [
      "transform-assets-import-to-string", {
        "baseDir": "/assets",
        "baseUri": ""
      }
    ]
  ]
}
