logs
*.log
npm-debug.log*
node_modules
.npm
.node_repl_history
*.*~
.env
.vscode/
.idea/
.DS_Store
.gitignore
dist/
.elasticbeanstalk/
package-lock.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
