@import '../../styles/vars';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  
  @media (--medium) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  & > div {
    flex: 0 0 auto;
    
    @media (--medium) {
      flex: 1 1 16rem;
      min-width: 16rem;
    }
  }
}